.site-container {
	overflow: hidden;
}

.container {
	max-width: 1628px;
	margin: 0 auto;
	padding: 0 30px;
}

.flex {
	display: flex;
}

.icon {
	display: block;
	height: 100%;
	width: 100%;
	fill: inherit;
	stroke: inherit;
}
