.site-container {
	overflow: hidden;
}

.container {
	max-width: 1628px;
	margin: 0 auto;
	padding: 0 30px;
}

.flex {
	display: flex;
}

.icon {
	display: block;
	height: 100%;
	width: 100%;
	fill: inherit;
	stroke: inherit;
}

.section-title {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.25em;
	color: var(--clr-dark-black);
}

.section-title--center {
	text-align: center;
	max-width: none;
}
